@{
    ViewBag.Title = "建立使用者";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<input type="text" name="userName" value="" />
<input type="password" name="password" value="" />
<input type="password" name="confirmPassword" value="" />
<address name="address"></address>
<input type="text" name="phone" value="" />
<input type="button" name="name" value="建立使用者" />