@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>理律</h1>
    <p class="lead">面試測試專案</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>專案描述</h2>
        <p>
            1.使用Entity Framework
            <br />
            2.使用MVC Web page
        </p>
    </div>
</div>