@{
    ViewBag.Title = "使用者列表";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table id="userList">

</table>
<script>
    $(document).ready(function () {
        window.User.ShowUserList();
    })
</script>